@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: var(--text-second);
}

p {
    padding-top: 16px;
}

.contact-img-info-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 30px;
}

.illustration-of-me {
    height: auto;
    width: 600px;
    max-width: 100%;
    padding: 20px;
}

.contact-text-container {
    width: 600px;
    max-width: 70vw;
}

.list-of-contact-info {
    list-style: none;
    padding-top: 16px
}

h {
    font-weight: 900;
    font-size: 25px;
}

.specific-contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 3px;
}

.contact-links {
    text-decoration: none;
    position: relative;
}

.contact-footer-box {
    padding: 15px;
}

.credit {
    position: absolute;
    right: 0px;
    padding: 20px;
}

