@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');

:root {
    font-size: 16px;
    font-family: "Rajdhani", sans-serif;
    --text-primary: #000;
    --text-second: #b9b9b9;
    --text-third: #e3433e;
    --background-primary: #ffffff;
    --background-second: #000000;
    --scroll-track-primary: #eaeaea;
    --scroll-track-secondary: #595959;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}

.icons-and-text{
    width: 17vw;
    height: 19vw;
    min-width: 170px;
    min-height: 190px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.icons-and-text img{
    width: 10vw;
    height: 10vw;
}

.icons-and-text p{
    color: black;
    font-size: 30px;
    font-weight: 500;
}

.hi {
    width: auto;
    height: auto;
    position: fixed;
    transform: translate(-50%, -50%);
    color: var(--text-third);
    -webkit-text-stroke: 0px #000000;
    font-size: 175px;
    font-family: "Danfo", serif;
    font-style: normal;
    pointer-events: none;
}

#star-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -999;
}

@media(max-width: 700px){
    .container{
        padding-top: 200px;
        flex-direction: column;
        justify-content:start;
    }
    
    .hi{
        font-size: 23vw;
    }
}
