@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    font-size: 16px;
    font-family: "Rajdhani", sans-serif;
    --text-primary: #000;
    --text-second: #7f7070;
    --text-third: #e3433e;
    --background-primary: #ffffff;
    --background-second: #000000;
    --scroll-track-primary: #eaeaea;
    --scroll-track-secondary: #595959;
}

*{
    margin: 0;
    padding: 0;
}

.title-text {
    text-align: center;
    font-weight: 600;
    font-size: 90px;
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(242, 70, 70),
        rgb(223, 178, 62), rgb(239, 101, 80));
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
    to{
        background-position: -200% -100%;
    }
}

.projects-img-left, .projects-img-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 50px;
    padding-top: 30px;
}

.mock-up-video{
    width: 30vw;
    border-radius: 2vw;
}

.project-content{
    display: inline-block;
    width: 43vw;
    color: var(--text-second);
}

.project-title{
    font-size: 65px;
    color: var(--text-primary);
}

.project-sub{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.project-paragraph{
    font-size: 25px;
}

.button{
    padding: 10px;
    text-decoration: none;
}

.button p{
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-primary);
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-primary);
    border-radius: 25px;
    border: 2px solid var(--text-second);
    transition: 0.25s linear;
}

@media(max-width: 1000px){
    .projects{
        flex-direction: column-reverse;
    }

    .projects-img-left{
        flex-direction: column-reverse;
    }

    .projects-img-right{
        flex-direction: column;
    }

    .mock-up-video{
        width: 90vw;
    }

    .project-content{
        width: 90vw;
        text-align: center;
    }

    .button{
        display: flex;
        justify-content: center;
    }
}

/*Animating*/
.button p:hover{
    color: var(--background-primary);
    background-color: var(--background-second);
}
